/* ------GENERAL------ */
body {
    font-family: roboto, sans-serif;
    color: #212121;
    margin: 0;
    width: 100%;
}
h1,
h2,
h3,
p {
	margin-top: 0;
}
h2 {
    margin-bottom: 50px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
:root {
    --logo-color: #2196F3;
    --text-grey: #757575;
    --background-grey: #2F303A;
}
.link {
    text-decoration: none;
    color: inherit;
}
.lists:hover, 
.lists:focus,
.mail-opacity:hover,
.mail-opacity:focus {
    color: var(--logo-color);
}
.btn-chapters:hover,
.btn-chapters:focus {
    color: #FFFFFF;
    background-color: var(--logo-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.lists {
    padding: 32px 25px 32px 25px;
    white-space: nowrap;
}
.currentlink {
    color: var(--logo-color);
}

/* ------HEADER------ */
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 25px 0;
    border-bottom: #ececec solid 1px;
}
.head-nav {
    display: flex;
    justify-content: space-between;
}
.head-container {
    display:flex;
    justify-content: space-between;
    width: 100%;
}
.head-nav-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 0;
    line-height: 1.19;
    margin-right: 93px;
}
.logo-color-web {
    color: var(--logo-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    margin-right: 0;
    padding-right: 0;
}
.logo-color-top {
    color: black;
    font-size: 26px;
}
.logo-color-dwn {
    color: white;
    font-size: 26px;
}
.head-nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    padding: 0;
}
.mail {
    display: flex;
    color: var(--text-grey);
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    padding-right: 0;
}

/* ------HERO------ */
.basic {
    background-color: var(--background-grey);
    padding: 200px 0 200px 0;
}
.name-first {
    color: #fff;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}
.order {
    display: block;
    margin: 0 auto;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 32px 10px 32px;
    background: var(--logo-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.order:hover {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* ------BUTTONS------ */
.container-btn {
    padding-bottom: 50px;
}
.btn-menu {
    display: flex;
    justify-content: center;
}
.btn-box:not(:last-child) {
    margin-right: 8px;
  }
.btn-chapters {
    padding: 6px 22px 6px 22px;
    font-weight: 500;
    font-size: 16px;
    border: 0;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    margin: 0;
    border-radius: 4px;
    transition: 0.1s linear;
}
.quality  {
    padding: 94px 0 94px 0;
}
.specialists {
    padding: 94px 0 94px 0;
}
.container-general {
    padding: 94px 0 94px 0;
}
.quality-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    padding: 0;
    margin-bottom: 0;
}
.quality-list {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 30px * 4) / 4);
  }
.quality-heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.quality-text {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.3px;
    color: var(--text-grey);
}
.directions {
    margin: 0 auto;
    padding-bottom: 94px;
}
.directions-name {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}
.directions-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    padding: 0;
    margin-bottom: 0;
}
.directions-img {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 30px * 3) / 3);
}
.specialists {
    background-color: #F5F4FA;
}
.specialists-top {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}
.specialists-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    padding: 0;
    list-style: none;
}
.specialists-img {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 120px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding: 0;
}
.specialists-name {
    padding: 30px 0;
    text-align: center;
}
.specialists-heding {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}
.specialists-text {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--text-grey);
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    padding: 0;
    margin-bottom: 0;
}
.projects-box {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 30px * 3) / 3);
}
.projects-box:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.project-box-border {
    padding: 20px 24px;
    margin-top: -4px;
    border-top: none;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}
.projects-heading {
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.projects-text {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: var(--text-grey);
}

/* ------FOOTER------ */
footer {
    display: block;
    background: var(--background-grey);
    padding: 60px 0 60px 0;
}
.footer-box {
    max-width: 231px;
}
.logo-footer {
    display: block;
    margin-bottom: 20px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 0;
}
.logo-footer span {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.contacts {
    margin-bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
address {
    line-height: 1.71;
}
.mail-opacity {
    margin-top: 9px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
